services:
  redis:
    image: redis:latest
    command: redis-server --requirepass "creator"
    ports:
      - "6379:6379"
    networks:
      - app-network

  highcharts-export:
    image: onsdigital/highcharts-export-node:latest
    ports:
      - "8083:8080"
    environment:
      SERVER_PROXY_USERNAME: charts
      SERVER_PROXY_PASSWORD: export
    restart: unless-stopped

  app-1:
    restart: 'unless-stopped'
    hostname: app-1
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      CATALINA_OPTS: "-Dvaadin.productionMode=true"
    ports:
      - 8081:8080
    depends_on:
      - db
      - redis
      - otel-collector
    networks:
      - app-network

  app-2:
    restart: 'unless-stopped'
    hostname: app-2
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      CATALINA_OPTS: "-Dvaadin.productionMode=true"
    ports:
      - 8082:8080
    depends_on:
      - db
      - redis
      - otel-collector
    networks:
      - app-network
  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.99.0
    command: ["--config=/etc/otel-collector-config.yaml"]
    volumes:
      - ./otel-collector-config.yaml:/etc/otel-collector-config.yaml:ro
    ports:
      - "4317:4317"
    depends_on:
      - jaeger
    networks:
      - app-network
  jaeger:
    image: jaegertracing/all-in-one:1.54
    ports:
      - "16686:16686"
    networks:
      - app-network
  db:
    build:
      context: .
      dockerfile: Dockerfile.db
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - app-network  

  load_balancer:
    hostname: load_balancer
    restart: 'unless-stopped'
    image: nginx:latest
    ports:
      - 8080:80
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - app-1
      - app-2
    networks:
      - app-network

volumes:
  db-data:
networks:
  app-network:
    driver: bridge