.v-charactercount-count {
  position: absolute;
  right: 5px;
  top: -18px;
  font-size: 9px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  border-radius: 3px;
}

.v-charactercount-wrapper {
  position: relative;
  width: 100%;
}
