// ABOUT VIEW
@mixin about {
  .aboutview {
    overflow: auto;
  }

  .aboutview-aboutlabel {
    white-space: break-spaces;

    .v-icon {
      margin-right: 5px;
    }
  }

  .aboutview-aboutcontent {
    @include valo-panel-style;
    max-width: 500px;
    // Override the default of CustomLayout
    padding: $v-unit-size !important;
  }

  .aboutview-adminscontent {
    padding: 10px;
    box-shadow: $admin-content-shadow;
    background: white;
  }
}