// ADMIN VIEW
@mixin admin {
  .adminview-userform {
    box-shadow: $light-shadow;
    background: white;
    border: $v-grid-border;
  }

  .v-slot-adminview-userform {
    min-height: 160px;
  }

  .adminview-userview {
    overflow: auto;
  }

  .adminview-categorygrid {
    box-shadow: $light-shadow;

    thead {
      display: none;
    }
  }

  .adminview {
    .v-tabsheet-loading {
      display: none;
    }
  }
}