// ADMIN VIEW
@mixin admin {
  .adminview-userform {
    box-shadow: $light-shadow;
    background: white;
    border: $v-grid-border;
  }

  .adminview-categorygrid {
    box-shadow: $light-shadow;

    thead {
      display: none;
    }
  }
}