// DASHBOARD VIEW
@mixin dashboard {
  .dashboard {
    width: 100%;

    .dashboard-chart {
      margin: 10px;
      width: calc(50% - 20px);
      box-shadow: $chart-shadow;
    }

    .dashboard-chart-wide {
      margin: 10px;
      width: calc(100% - 20px);
      box-shadow: $chart-shadow;
    }

    .dashboard-chart-focusring:focus-visible {
      outline: 2px solid $v-focus-color;
      outline-offset: 2px;
      border-radius: 2px;
    }
  }

  g.highcharts-button {
    cursor: pointer !important;
  }

  g.highcharts-legend-item {
    cursor: pointer;
  }

  g.highcharts-legend-item:focus {
    outline: 2px solid $v-focus-color;
    outline-offset: 2px;
    border-radius: 2px;
  }

  g.highcharts-button:focus {
    outline: 2px solid $v-focus-color;
    outline-offset: 2px;
    border-radius: 2px;
  }

  .highcharts-contextmenu {

    div:focus {
      background: $v-focus-color !important;
      color: white !important;
      outline: unset;
    }

    div {
      div:hover {
        background: $v-focus-color !important;
        color: white !important;
        outline: unset;
      }
    }
  }
}
