@mixin purchases {
  .v-grid-row.purchase-old > td {
    background-color: #fff3cd;
  }

  .v-grid-row.purchase-old:hover > td {
    background-color: #ffe8a1;
  }

  .v-grid-row.purchase-range > td {
    font-weight: 600;
  }

  .purchasehistoryview-toolbar {
    height: 32px !important;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: end;
    gap: 8px;

    .has-tooltip {
      margin-left: auto;
    }
  }

  #purchase-approvals-grid .v-grid-row .v-horizontal.v-widget {
    display: none;
  }

  #purchase-approvals-grid .v-grid-row-focused .v-horizontal.v-widget {
    display: inline-block;
  }

  #purchase-approvals-grid td:hover .v-horizontal.v-widget {
    display: inline-block;
  }

  .purchase-old td.v-grid-cell.v-grid-cell-focused {
    color: $v-focus-color;
  }
}