@mixin purchases {
  .v-grid-row.purchase-old > td {
    background-color: #fff3cd;
  }

  .v-grid-row.purchase-old:hover > td {
    background-color: #ffe8a1;
  }

  .v-grid-row.purchase-range > td {
    font-weight: 600;
  }
  
  .purchasehistoryview-toolbar {
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 8px;

    .v-button {
      margin-top: auto;
    }

    .has-tooltip {
      margin-left: auto;
      margin-top: auto;
    }

    .v-csslayout {
      display: flex;
      align-items: baseline;
      gap: 5px;
    }

    .v-datefield {
      min-width: 120px;
    }
  }

  #purchase-approvals-grid .v-grid-row .v-csslayout.v-widget {
    display: none;
  }

  #purchase-approvals-grid .v-grid-row-focused .v-csslayout.v-widget {
    display: inline-block;
  }

  #purchase-approvals-grid td:hover .v-csslayout.v-widget {
    display: inline-block;
  }

  .purchase-old td.v-grid-cell.v-grid-cell-focused {
    color: $v-focus-color;
  }

  .v-button-primary {
    min-width: 45px;
  }
}