@mixin storefront {
  .storefrontview {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;

    .storefrontview-wizard {
    }

    .storefrontview-history {
      padding: 20px;
      background-color: #f5f5f5;
      border-radius: 4px;
    }
  }
}
