<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>
        <property name="hibernate.connection.url">jdbc:h2:mem:testdb</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.id.new_generator_mappings">false</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.id.new_generator_mappings">true</property>
        <mapping class="org.vaadin.tatu.vaadincreate.backend.data.Product"/>
        <mapping class="org.vaadin.tatu.vaadincreate.backend.data.Category"/>
        <mapping class="org.vaadin.tatu.vaadincreate.backend.data.User"/>
        <mapping class="org.vaadin.tatu.vaadincreate.backend.data.Draft"/>
        <mapping class="org.vaadin.tatu.vaadincreate.backend.data.Message"/>
        <mapping class="org.vaadin.tatu.vaadincreate.backend.data.Purchase"/>
        <mapping class="org.vaadin.tatu.vaadincreate.backend.data.PurchaseLine"/>
        <mapping class="org.vaadin.tatu.vaadincreate.backend.data.UserSupervisor"/>
    </session-factory>
</hibernate-configuration>
