name: Java CI

on: [push]

env:
  VAADIN_PRO_KEY: ${{ secrets.PRO_KEY }}

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      checks: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'adopt'
      - name: Install Chrome
        uses: browser-actions/setup-chrome@latest
        with:
          chrome-version: stable
      - name: Cache Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots install -DskipTests
      - name: Run tests
        run: mvn --batch-mode verify -Pit -DghActions=true
      - name: Upload error screenshots
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: error-screenshots
          path: vaadincreate-ui/error-screenshots
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: |
            vaadincreate-backend/target/surefire-reports/*.xml
            vaadincreate-components/target/surefire-reports/*.xml
            vaadincreate-components/target/failsafe-reports/TEST-*.xml
            vaadincreate-ui/target/surefire-reports/*.xml
            vaadincreate-ui/target/failsafe-reports/TEST-*.xml
          